name: Playwright Tests

on:
  schedule:
    - cron: '0 */3 * * *'
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Java Environment
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Set Environment Variables
        run: |
          echo "DB_URL=${{ secrets.DB_URL }}" >> $GITHUB_ENV

      - name: Build & Install Dependencies
        run: mvn -B install -D skipTests --no-transfer-progress

      - name: Compile Application
        run: mvn clean compile

      - name: Check PostgreSQL JDBC Driver
        run: mvn dependency:tree | grep postgresql

      - name: Build Package
        run: mvn clean package

      - name: Run Application
        env:
          DATABASE_URL: ${{ secrets.DB_URL }}
        run: mvn exec:java -e -D exec.mainClass=com.microsoft.playwright.CLI -D exec.args="install-deps"